/* Устройства Android минимальное:375 px для портретной */
@media (max-width: 375px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .square-text {
    font-size: 5vw;
  }
  .logo {
    justify-content: center;
  }
  .right-section {
    justify-content: center;
  }
}

/* Смартфоны: 320 пикселей и выше */
@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  }
  .square-text {
    font-size: 4vw;
  }
  .description p {
    font-size: 3vw;
  }
  .logo {
    justify-content: center;
    margin-right: 0;
  }
  .right-section {
    justify-content: center;
    order: 1;
  }
}

/* Устройства Android в альбомной ориентации и минимальной ширине 667px */
@media (min-width: 667px) and (orientation: landscape) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .square-text {
    font-size: 3.5vw;
  }
  #features {
    display: none;
  }
}

/* Планшеты: 768 пикселей и выше */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .square-text {
    font-size: 3vw;
  }
  .description p {
    font-size: 2.5vw;
  }
  .logo {
    margin-right: 20px;
  }
  .right-section {
    justify-content: flex-end;
  }
}

/* Нетбуки: 1024 пикселей и выше */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .square-text {
    font-size: 2vw;
  }
  .description p {
    font-size: 1.8vw;
  }
}

/* Мониторы: 1280 пикселей и выше */
@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .square-text {
    font-size: 1.8vw;
  }
  .description p {
    font-size: 1.5vw;
  }
}