body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f; /* Графит */
    color: #feebdf;
    font-family: Arial, sans-serif;
}

.preloader-container,
.content {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.preloader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 5px solid #f3f8fb;
    border-radius: 50%;
    border-top: 5px solid #faa973;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    font-size: 14px;
    color: #c67e50;
}

.content {
    text-align: center;
}

.description {
    margin-bottom: 20px;
    color: #bb8b6c;
}

.login-form {
    background-color: #fef5ef;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
}

.login-form h2 {
    color: #bb8b6c;
    margin-bottom: 20px;
}

.login-form input {
    display: block;
    width: 100%; /* Ширина 100% от родительского контейнера */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bb8b6c;
    border-radius: 3px;
    box-sizing: border-box; /* Учитываем отступы и рамки в общей ширине элемента */
}

.login-form button {
    background-color: #faa973;
    color: #fef5ef;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px; /* Добавляем отступ между кнопками */
}

.login-form button:hover {
    background-color: #c67e50;
}